@font-face {
    font-family: 'Inconsolata-Regular';
    src: url('fonts/Inconsolata-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Space Mono-reg';
    src: url('fonts/SpaceMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}