* {
    margin: 0 0 5px 0;
}

header {   
    min-height: 400px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;
    border: 1px solid rgb(41,27,72);
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    left: 50%;
    top: 45%;

    background-size: contain;
    z-index: 2;
}
.box a {
    color:white;
}
main {
    height: 900px;
    position: relative;
}
#hello {
    position: absolute;
    left: 45%;
    top: 7%;
}
#myName {
    position: absolute;
    left: 45%;
    top: 12%;
}
.iLikeIt {
    position: relative;
    height: inherit;
}
.iLikeIt a {
    position: absolute;
    left: 47%;
    top: 20%;
    padding: 10px;
    border: 3px solid;
    border-radius: 25px;
    border-color: rgb(41,27,72);
    color:rgb(41,27,72);
}
#aboutMe {
    opacity: 0;
}
#ilike {
    position: absolute;
    left: 47%;
    top: 17%;
}
.likeCoffee {
    position: absolute;
    left: 47%;
    top: 20%;    
}
.coffee {
    width: 240px;
    height: 340px;
    background-image: url(/nik/img/l41vnp_bO3o.jpg);
    transform: rotate(-20deg);
    left: 5%;
    top: 5%;
    background-size: cover;
    position: absolute;
    box-shadow: 5px 9px;
}
.likeAnime {
    position: absolute;
    left: 47%;
    top: 20%; 
    height: 25px;
}
.anime {
    width: 240px;
    height: 340px;
    background-image: url(/nik/img/FLUeE06XoAQQ0Zg.jpg);
    right: 5%;
    top: 11%;
    transform: rotate(45deg);
    background-size: cover;
    position: absolute;
    border: 3px solid rgb(41,27,72);
    box-shadow: 2px 5px;
}