* {
    margin: 0 0 5px 0;
}

header {   
    min-height: 400px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;
    border: 1px solid rgb(41,27,72);
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    left: 50%;
    top: 45%;

    background-size: contain;
    z-index: 2;
}
.box a {
    color:white;
}
main {
    height: 900px;
    position: relative;
    background-image: url(../nik/img/1614787296_91-p-staraya-bumaga-fon-188.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#hello {
    position: absolute;
    left: 45%;
    top: 7%;
}
#myName {
    position: absolute;
    left: 45%;
    top: 12%;
}
.iLikeIt {
    position: relative;
    height: inherit;
}
.iLikeIt a {
    position: absolute;
    left: 47%;
    top: 20%;
    padding: 10px;
    border: 3px solid;
    border-radius: 25px;
    border-color: rgb(41,27,72);
    color:rgb(41,27,72);
}
#aboutMe {
    opacity: 0;
}
#ilike {
    position: absolute;
    left: 47%;
    top: 17%;
}
.likeCoffee {
    position: absolute;
    left: 47%;
    top: 20%;    
}
.coffee {
    width: 240px;
    height: 340px;
    background-image: url(../nik/img/l41vnp_bO3o.jpg);
    transform: rotate(-20deg);
    left: 5%;
    top: 5%;
    background-size: cover;
    position: absolute;
    box-shadow: 5px 9px;
}
.likeAnime {
    position: absolute;
    left: 47%;
    top: 20%; 
    height: 25px;
}
.anime {
    width: 240px;
    height: 340px;
    background-image: url(../nik/img/FLUeE06XoAQQ0Zg.jpg);
    right: 5%;
    top: 11%;
    transform: rotate(45deg);
    background-size: cover;
    position: absolute;
    border: 3px solid rgb(41,27,72);
    box-shadow: 2px 5px;
}
.likePers {
    position: absolute;
    left: 47%;
    top: 20%; 
    height: 25px;
}
.person {
    width: 240px;
    height: 340px;
    background-image: url(../nik/img/pln32z0k3bkc4o0gog888c804og80c.jpg);
    left: 17%;
    top: 52%;
    transform: rotate(45deg);
    background-size: cover;
    position: absolute;
    border: 3px solid rgb(41,27,72);
    box-shadow: 2px 5px;
}
#aboutMe2 {
    opacity: 0;
}
.desc1 {
    position: absolute;
    left: 40%;
    top: 12%;
}
.desc2 {
    position: absolute;
    left: 40%;
    top: 17%;
}
.desc2-block {
    width: 240px;
    height: 340px;
    background-image: url(../nik/img/photo_2023-04-10_18-48-44.jpg);
    right: 23%;
    top: 50%;
    transform: rotate(319deg);
    background-size: cover;
    position: absolute;
    border: 3px solid rgb(41,27,72);
    box-shadow: 2px 5px;
}
.likesewing {
    position: absolute;
    left: 47%;
    top: 20%;
}

body {
    font-family: Arial, sans-serif;
}
#open-modal {
    position: absolute;
    opacity: 0;
    left: 44.7%;
    top: 18%;
    
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
    perspective: 1000px;
}

.modal-content {
    width: 90%;
    height: 90%;
    background-color: white;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform-style: preserve-3d;
    transform: translateY(-50%) rotateY(-180deg);
    backface-visibility: hidden;
    transition: transform 1s;
    display: flex;
    border-radius: 43px 10px 43px 0px;
    color:white;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(311deg, rgba(41,27,72,1) 0%, rgba(89,64,148,1) 35%, rgba(111,54,126,1) 69%, rgba(58,20,81,1) 100%);
}


.left-side {
    width: 50%;
    padding: 20px;
}

.right-side {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.image-block {
    width: 100%;
    max-width: 32%;
    border: 2px solid #ccc;
    padding: 5px;
    margin-bottom: 20px;
    max-height: 44%;
}

