@font-face {
    font-family: 'Poppins-Regular';
    src: url('../training_two/fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSerif-Regular';
    src: url('../training_two/fonts/PTSerif-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}